.menuCard {
    width: 25%;
    height: 60%;
    display: flex;
    min-width: 375px;
    min-height: 375px;
}

.foodDataContainer{
    height: 85%;
}

.addButton{
    background-color: goldenrod;
    margin-left: auto;
    margin-bottom: 5px;
    width: 21%;
}