.currentPlanCard{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    max-width: 788px;
    gap: 12px;
    overflow: auto;
}

.mealButton{
    background-color: green;
    padding: 2px 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    cursor: pointer;
}

.title{
    cursor: pointer;
}

.removeIcon{
    transition: all 0.25s ease;
}

.removeIcon:hover{
    color:red;
    cursor: pointer;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 480px;
    max-width: 480px;
    width: 100% ;
    overflow: auto;
    flex-wrap: wrap;
}

.macros{
    display: flex;
    flex-direction: row;
}

.proteinBubble{
    color: #fe5f55;
}

.carbBubble{
    color: #5DCD77;
}

.fatBubble{
    color: #f2dd6e;
}

.calorieBubble{
    color: black;
}

.leftContainer > div {
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .currentPlanCard {
        padding: 12px;             /* so content doesn't touch edges */
    }

    .leftContainer > div {
        justify-content: center;   /* centers the wrapped buttons */
    }
}