.calculatorCard {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.foodDataContainer{
    height: 85%;
}

.addButton{
    background-color: #30bced;
    margin-left: auto;
    margin-bottom: 5px;
    min-width: 76px;
}

.addButton:hover{
    box-shadow: 0 8px 24px rgba(79, 141, 246, 0.25);
}