.calculatorCard {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.foodDataContainer{
    height: 85%;
}

.addButton{
    background-color: goldenrod;
    margin-left: auto;
    margin-bottom: 5px;
    width: 17%;
}